@page "/trainingsessions/create"
@using BeFitBlazor.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using BeFitBlazor.Models
@inject IDbContextFactory<BeFitBlazor.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

@attribute [Authorize]

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>TrainingSession</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="@TrainingSession" OnValidSubmit="AddTrainingSession" FormName="TrainingSessionCreate" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <label for="start" class="form-label">Start:</label>
                <InputDate id="start" @bind-Value="TrainingSession.Start" class="inpt" />
                <ValidationMessage For="@(() => TrainingSession.Start)" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="end" class="form-label">End:</label>
                <InputDate id="end" @bind-Value="TrainingSession.End" class="inpt" />
                <ValidationMessage For="@(() => TrainingSession.End)" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/trainingsessions">Back to List</a>
</div>

@code {

    private ApplicationDbContext context = default!;
    [SupplyParameterFromForm]
    private TrainingSession TrainingSession { get; set; } = new();
    private List<ExerciseEntry> ExerciseEntries { get; set; } = new List<ExerciseEntry>();

    async Task<string> getUserId()
    {
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        var UserId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
        return UserId;
    }

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        ExerciseEntries = context.ExerciseEntry.ToList();
    }

    private async Task AddTrainingSession()
    {
        TrainingSession.CreatedById = await getUserId();
        context = DbFactory.CreateDbContext();
        context.TrainingSession.Add(TrainingSession);
        await context.SaveChangesAsync();

        NavigationManager.NavigateTo("/trainingsessions");
    }
}
