@page "/trainingsessions"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BeFitBlazor.Models
@using BeFitBlazor.Data
@using BeFitBlazor.DTOs
@implements IAsyncDisposable
@inject IDbContextFactory<BeFitBlazor.Data.ApplicationDbContext> DbFactory
@inject AuthenticationStateProvider _authenticationStateProvider

@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="trainingsessions/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.TrainingSession">
    <PropertyColumn Property="trainingsession => trainingsession.Start" />
    <PropertyColumn Property="trainingsession => trainingsession.End" />

    <TemplateColumn Context="trainingsession">
        <a href="@($"trainingsessions/edit?id={trainingsession.Id}")">Edit</a> |
        <a href="@($"trainingsessions/details?id={trainingsession.Id}")">Details</a> |
        <a href="@($"trainingsessions/delete?id={trainingsession.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;
    private IQueryable<TrainingSessionDTO> TrainingSessions = default!;

    async Task<string> getUserId()
    {
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        var UserId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
        return UserId;
    }

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        var UserId = await getUserId();
        TrainingSessions = context.TrainingSession.Where(e => e.CreatedById == UserId).Include(e => e.ExerciseEntries).Select(e => new TrainingSessionDTO(e));

    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
