@page "/exercisetypes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BeFitBlazor.Models
@using BeFitBlazor.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BeFitBlazor.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Typy ćwiczeń</h1>

<p>
    <a href="exercisetypes/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.ExerciseType">
    <PropertyColumn Property="exercisetype => exercisetype.Name" />

    <TemplateColumn Context="exercisetype">
        <a href="@($"exercisetypes/edit?id={exercisetype.Id}")">Edit</a> |
        <a href="@($"exercisetypes/details?id={exercisetype.Id}")">Details</a> |
        <a href="@($"exercisetypes/delete?id={exercisetype.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
