@page "/exerciseentries/create"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using BeFitBlazor.Models
@using BeFitBlazor.Data
@inject IDbContextFactory<BeFitBlazor.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

@attribute [Authorize]

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>ExerciseEntry</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="ExerciseEntry" OnValidSubmit="AddExerciseEntry" FormName="create" Enhance>
            <DataAnnotationsValidator />

            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="trainingsessionid" class="form-label">TrainingSessionId:</label> 
                <InputSelect id="trainingsessionid" @bind-Value="ExerciseEntry.TrainingSessionId" class="input">
                    @foreach (TrainingSession trainingSession in TrainingSessions)
                    {
                        <option value="@trainingSession.Id" selected=@(ExerciseEntry.TrainingSessionId == trainingSession.Id)>@trainingSession.Start</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => ExerciseEntry.TrainingSessionId" class="text-danger" /> 
            </div>        

            <div class="mb-3">
                <label for="exercisetypeid" class="form-label">ExerciseTypeId:</label>
                <InputSelect id="exercisetypeid" @bind-Value="ExerciseEntry.ExerciseTypeId" class="input">
                    @foreach (ExerciseType exerciseType in ExerciseTypes)
                    {
                        <option value="@exerciseType.Id" selected=@(ExerciseEntry.TrainingSessionId == exerciseType.Id)>@exerciseType.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => ExerciseEntry.ExerciseTypeId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="weight" class="form-label">Weight:</label> 
                <InputNumber id="weight" @bind-Value="ExerciseEntry.Weight" class="form-control" /> 
                <ValidationMessage For="() => ExerciseEntry.Weight" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="sets" class="form-label">Sets:</label> 
                <InputNumber id="sets" @bind-Value="ExerciseEntry.Sets" class="form-control" /> 
                <ValidationMessage For="() => ExerciseEntry.Sets" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="reps" class="form-label">Reps:</label> 
                <InputNumber id="reps" @bind-Value="ExerciseEntry.Reps" class="form-control" /> 
                <ValidationMessage For="() => ExerciseEntry.Reps" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/exerciseentries">Back to List</a>
</div>

@code {
    private ApplicationDbContext context = default!;
    [SupplyParameterFromForm]
    private ExerciseEntry ExerciseEntry { get; set; } = new();
    private List<TrainingSession> TrainingSessions { get; set; } = new List<TrainingSession>();
    private List<ExerciseType> ExerciseTypes { get; set; } = new List<ExerciseType>();

    async Task<string> getUserId()
    {
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        var UserId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
        return UserId;
    }

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        TrainingSessions = context.TrainingSession.ToList();
        ExerciseTypes = context.ExerciseType.ToList();
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddExerciseEntry()
    {
        ExerciseEntry.CreatedById = await getUserId();
        context = DbFactory.CreateDbContext();
        context.ExerciseEntry.Add(ExerciseEntry);
        await context.SaveChangesAsync();

        NavigationManager.NavigateTo("/exerciseentries");
    }
}
