@page "/exerciseentries"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BeFitBlazor.Models
@using BeFitBlazor.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BeFitBlazor.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="exerciseentries/create">Create New</a>
</p>

<QuickGrid Class="table" Items="exerciseEntries">
    <PropertyColumn Property="exerciseentry => exerciseentry.TrainingSession.Start" Title="Data" />
    <PropertyColumn Property="exerciseentry => exerciseentry.ExerciseType.Name" Title="Typ ćwiczenia"/>
    <PropertyColumn Property="exerciseentry => exerciseentry.Weight" />
    <PropertyColumn Property="exerciseentry => exerciseentry.Sets" />
    <PropertyColumn Property="exerciseentry => exerciseentry.Reps" />

    <TemplateColumn Context="exerciseentry">
        <a href="@($"exerciseentries/edit?id={exerciseentry.Id}")">Edit</a> |
        <a href="@($"exerciseentries/details?id={exerciseentry.Id}")">Details</a> |
        <a href="@($"exerciseentries/delete?id={exerciseentry.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;
    private IQueryable<ExerciseEntry> exerciseEntries = default!;


    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        exerciseEntries = context.ExerciseEntry.Include(e => e.TrainingSession).Include(e => e.ExerciseType);
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
