@page "/exerciseentries"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BeFitBlazor.Models
@using BeFitBlazor.Data
@using BeFitBlazor.DTOs
@implements IAsyncDisposable
@inject IDbContextFactory<BeFitBlazor.Data.ApplicationDbContext> DbFactory
@inject AuthenticationStateProvider _authenticationStateProvider

@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Treningi</h1>

<p>
    <a href="exerciseentries/create">Create New</a>
</p>

<QuickGrid Class="table" Items="exerciseEntries">
    <PropertyColumn Property="exerciseentry => exerciseentry.TrainingSessionName" Title="Data" />
    <PropertyColumn Property="exerciseentry => exerciseentry.ExerciseTypeName" Title="Typ ćwiczenia" />
    <PropertyColumn Property="exerciseentry => exerciseentry.Weight" />
    <PropertyColumn Property="exerciseentry => exerciseentry.Sets" />
    <PropertyColumn Property="exerciseentry => exerciseentry.Reps" />

    <TemplateColumn Context="exerciseentry">
        <a href="@($"exerciseentries/edit?id={exerciseentry.Id}")">Edit</a> |
        <a href="@($"exerciseentries/details?id={exerciseentry.Id}")">Details</a> |
        <a href="@($"exerciseentries/delete?id={exerciseentry.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;
    private IQueryable<ExerciseEntryDTO> exerciseEntries = default!;

    async Task<string> getUserId()
    {
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        var UserId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
        return UserId;
    }

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        var UserId = await getUserId();
        exerciseEntries = context.ExerciseEntry.Where(e => e.CreatedById == UserId).Include(e => e.TrainingSession).Include(e => e.ExerciseType).Select(e => new ExerciseEntryDTO(e));
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
